.btn_categorias:hover{
    color: white;
}
.highlight {
    background-color: yellow;
}
*{
    word-break: break-all;
}
.bote_basura{
    padding: 10px;
    color: red;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 25px !important;
}
.boton_editar{
    padding: 10px;
    color: green;
    cursor: pointer;
    position: absolute;
    right: 30px;
    font-size: 25px !important;
}
.boton_categorizar{
    padding: 10px;
    color: blue;
    cursor: pointer;
    font-size: 25px !important;
}

/*complements.Item*/
.detallesAdicionales .canal{
    cursor: pointer;
}
.detallesAdicionales .acciones{
    cursor: pointer;
}
